<h2 style="color:red ;">Hello, <%= user.email%> :)</h2>

<h2 style="color:white;">Your booking information: </h2>

 <% userTickets.forEach(t => { %>

<p><%= t.destination %>Destination</p>
<p><%= t.gatenumber %>Gate Number </p>
<p><%= t.seatnumber %>Seat Number</p>
 </br>

 <form method="POST" action="/users/<%= t.id %>?_method=DELETE">
    <button type="submit">delete</button>
</form>
<% })  %>

